.title2 {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    width: 190px!important;
}
.dm2{
    background-color: #FCA311;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 0;
}
.ds2{
    position: absolute;
    z-index: 1;
    right: 0;
    white-space: nowrap;
}
.costumise2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.50);
    height: 460px;
    width: 420px;
    margin: auto;
}
.costumise2 .autor2 img{
    width: 40px;
    margin-right: 10px;
}
.costumise2 img{
    width: 100%;
    height: auto;
}
.container {
    position: relative;
    width: 362px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #FCA311;
    color: black;
    font-size: 14px;
    padding: 16px 32px;
    cursor: pointer;
}