.creators{
    width: 100%;
    margin: auto;
}
.dm3{
    background-color: #FCA311;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 0;
    height: 80px;
    width: 80px;
    line-height: 30px;
}
.ds3{
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    right: 0;
}
.people{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.people .articles3{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.people article{
    background-color: #E5E5E5;
    width: 400px;
    padding-right: 20px;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 2px solid black;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
}
.people article div {
    margin-left: 15px;
}
.people article img{
    width: 70px;
    height: auto;
}
.people article div p{
    font-size: 13px;
    margin-top: 5px;
    padding-left: 5px;
    color: rgb(127, 127, 127);
    column-count: unset;
}
.people article div h6{
    font-weight: bold;
    column-count: 1;
    column-width: auto; 
}
.cost2{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2.4px solid black;
    padding-left: 20px;
    justify-content: center;
    height: 70%;
}
.cost2 h6{
    font-weight: bold;
}
.cost2 p{
    font-size: 13px;
    margin-top: 5px;
}
