.sect1{
    background-color:    rgba(217, 217, 217, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin:auto;
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cnt{
    width: 50%;
    padding-top: 40px;
    padding-bottom: 60px;
}
h1{
    font-size: 60px;
    width: 500px;
    font-weight: 600;
    line-height: 90px;
    margin-left: 30px;
}
h1 span{
    color: #FCA311;
}
.clicks{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-top: 100px;
}
.explore{
    width: 140px;
    height: 60px;
    background: #FCA311;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 400;
}
.explore:hover{
    background:none;
    color: #FCA311;
    border: 1px solid #FCA311;
    cursor: pointer;
    transition: 0.4s;
}
.create{
    width: 140px;
    height: 60px;
    background: none;
    border: 1px solid #FCA311;
    color: #FCA311;
    border-radius: 10px;
}
.create:hover{
    background: #FCA311;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s;
}
.rate{
    display: flex;
    align-items: center;
    width: 35%;
    margin-left: 30px;
    margin-top: 60px;
}
.rate article{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.01s ease-in-out;
    
}
.rate h2{
    font-size: 45px;
    font-weight: bold;
}
.rate p{
    color: #9B9E9A;
    font-size: 16px;
}
.sale{
    width: 40%;
    position: relative;
}
.sale img{
    width: 100%;
    height: auto;
}
.timeE{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:7%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 7px;
}
.timeE h5{
    color: #E4DEE7;
    line-height: 40px;
}
.timeE p{
    color: #FFFFFF;
}
.autor{
    width: 98%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.autor img{
    width: 70px;
}
.autor button{
    width: 207px;
    height: 64px;
    background: #FCA311;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
.autor button:hover{
    background: #ffffff;
    border: #FCA311 solid 2px;
    color: #FCA311;
    cursor: pointer;
    transition: 0.4s;

}
.artist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.artist article{
    margin-left: 10px;
}
.artist h6{
    font-size: 20px;
    font-weight: 500;
}
.artist p{
    color: #E5E5E5;
    font-size: 14px;
}
.sect2 img{
    height: 29px;
    width: auto; 
    margin: 20px;
}

.menuicon{
    display: none;
    margin-right: 40px;
}
.wallet{
    color: #FCA311;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}
.menuon{
    width: 34px;
    height: 34px;
    cursor: pointer;
    padding: 4px;
}
.menuon:hover{
    background-color: #f1f1f1;
    transition: 0.3s;
}
