header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-left: 50px;
    padding-top: 10;
    width: 30%;
}
.logo img{
    height: 70px;
    width: auto;
}
.navigate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}
.navigate ul{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.navigate ul li{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
}
.navigate ul li:hover{
    color: #FCA311;
    cursor: pointer;
    border-bottom: 2px solid #FCA311;
    transition: 0.2s;
}
.navigate button{
    background-color: rgba(233, 215, 167, 0.1);
    border: 1px solid #FCA311;
    border-radius: 10px;
    height: 50px;
    width: 155px;
    color: #FCA311;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    transition: 0.4s;

}
.navigate button:hover{
    background-color: #FCA311;
    color: #ffffff;
    cursor: pointer;
}