.auction {
    margin: auto;
    width: 90%;
    padding: 20px;
    margin-top: 130px;
  }
  
  .auction h2 {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    width: 330px;
  }

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
  }
  
  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-shrink: 0;
    transition-property: transform;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -10px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
  }
  
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }
  
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }
  
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }
  
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
    margin: 0 2px;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
  }
  
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
  
  .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 2px 0;
  }
  
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
  }
  
  .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
  }
  
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }
  
  .swiper-container-rtl .swiper-button-next,
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 2px;
    margin-right: 0;
  }
  
  .swiper-container-rtl .swiper-button-prev,
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
  .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    margin-left: 0;
    margin-right: 2px;
  }
  